body{
    margin:0px;
}
#body-header{
    height: 50vh;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
}